<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qilinxx.kuding.domain.mapper.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.qilinxx.kuding.domain.model.Evaluate">
    <id column="e_id" jdbcType="VARCHAR" property="eId" />
    <result column="e_ttos_evaluate" jdbcType="VARCHAR" property="eTtosEvaluate" />
    <result column="e_stot_evaluate" jdbcType="VARCHAR" property="eStotEvaluate" />
    <result column="e_ttos_score" jdbcType="INTEGER" property="eTtosScore" />
    <result column="e_stot_score" jdbcType="INTEGER" property="eStotScore" />
    <result column="e_remark" jdbcType="VARCHAR" property="eRemark" />
    <result column="e_create_time" jdbcType="BIGINT" property="eCreateTime" />
    <result column="e_did_id" jdbcType="VARCHAR" property="eDidId" />
    <result column="e_sid_id" jdbcType="VARCHAR" property="eSidId" />
    <result column="e_tid_id" jdbcType="VARCHAR" property="eTidId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    e_id, e_ttos_evaluate, e_stot_evaluate, e_ttos_score, e_stot_score, e_remark, e_create_time, 
    e_did_id, e_sid_id, e_tid_id
  </sql>
</mapper>